@font-face {
  font-family: "LeagueSpartan";
  src: url("/fonts/LeagueSpartan-VF.ttf") format("truetype");
}

@font-face {
  font-family: "Akira Expanded";
  src: url("/fonts/AkiraExpanded.otf") format("truetype");
}

@font-face {
  font-family: "Bonivar";
  src: url("/fonts/Bonivar-MAEAn.ttf") format("truetype");
}

@font-face {
  font-family: "Butler Black";
  src: url("/fonts/Butler_Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler Bold";
  src: url("/fonts/Butler_Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler ExtraBold";
  src: url("/fonts/Butler_ExtraBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler Light";
  src: url("/fonts/Butler_Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler Medium";
  src: url("/fonts/Butler_Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler Regular";
  src: url("/fonts/Butler_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.font-butler {
  font-family: "Butler ExtraBold", sans-serif;
}

.font-akira {
  font-family: "Akira Expanded", sans-serif;
}

.font-bonivar {
  font-family: "Bonivar", sans-serif;
}

button,
a,
.button {
  cursor: pointer !important;
  display: inline-block; /* Ensure elements are inline-block */
  position: relative; /* Ensure elements have a position context */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
