@font-face {
  font-family: 'LeagueSpartan';
  src: url('/fonts/LeagueSpartan-VF.ttf') format('truetype');
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

.font-leaguespartan {
  font-family: 'LeagueSpartan';
}