@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97;
    color: rgba(236, 34, 37, 0.2);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 #ec2225, 0.025em 0.05em 0 #50c878;
    color: #50c878;
  }
  50% {
    text-shadow: 0.025em 0.05em 0 #313f97, -0.05em -0.05em 0 #50c878;
  }
  100% {
    text-shadow: -0.025em 0 0 #ec2225, -0.025em -0.025em 0 #313f97;
    color: #313f97;
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

@layer utilities {
  .shadow-glitch {
    text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97, 0.025em 0.05em 0 #50c878;
  }
  .animate-glitch {
    animation: glitch 650ms infinite;
  }
  .animate-glitch::before {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
  }
  .animate-glitch::after {
    clip-path: polygon(0 65%, 100% 20%, 100% 100%, 0 70%);
    transform: translate(0.025em, 0.025em);
    opacity: 0.8;
  }
}